export(trade.depth)
export(trade.historical.spy)
export(trade.mm)
export(trade.mm.analyse)
export(trade.mavg)
export(trade.mavg.sumpnl)
import(data.table)
import(testthat)
export(.onLoad)
export(limit)
export(get.hob)
export(get.ob)
export(market)
export(get.filled.qty)
export(cancel)
export(init.book)
export(get.execs)
export(model.poisson)
